@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px 0;
}

.right {
    width: 75vw;
    margin: 16px 5px 0 0;
    position: relative;
}

.home {
    min-height: 16vh;
}

.home ul li {
    display: flex;
    gap: 10px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    font-size: 15px;
}

.library {
    min-height: 75vh;
    position: relative;
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-top: 14px;
    font-size: 13px;
    margin-bottom: 15px;
}

.heading h2 {
    font-weight: bold;
    font-size: 16px;
}

.heading img {
    width:24px;
}

.footer {
    display: flex;
    font-size: 10px;
    flex-wrap: wrap;
    gap: 13px;
    position: absolute;
    bottom: 10px;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(49 48 48);
}

.nav {
    gap: 5px;
}

.nav .nav-item {
    width: 30px;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav img {
    width: 12px;
    height: 12px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid transparent;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.buttons button:last-child,
.buttons button:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.spotify-playlists {
    padding: 10px 16px;
}

.spotify-playlists h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

.card-container {
    max-height: 80vh;
    overflow: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    cursor: pointer;
}

.card-img {
    width: 100%;
    text-align: center;
    position: relative;
}

.card-img img {
    width: 170px;
    object-fit: contain;
    border-radius: 5px;
}

.card h2 {
    padding-top: 8px;
    font-size: 18px;
}

.card p {
    padding-top: 8px;
    font-size: 14px;
}

.play {
    width: 30px;
    height: 30px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    bottom: -15px;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.card:hover .play {
    bottom: 10px;
    opacity: 1;
}

.playbar {
    width: 100%;
    height: 60px;
    padding: 12px;
    position: absolute;
    bottom: 4px;
    background-color: rgb(49 48 48);
}

.songs-btns {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songs-btns img {
    cursor: pointer;
}

.song-list {
    height: 300px;
    overflow: auto;
}

.song-list ul li {
    list-style: decimal;
    display: flex;
    justify-content: space-between;
    padding: 12px 4px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 5px 12px 0;
}
.song-list ul li .info {
    width: 70%;
    display: flex;
    gap: 4px;
}

.song-list ul li .info img {
    width: 30px;
}

.song-list ul li .info .song-detail div {
    font-size: 14px;
    text-overflow: ellipsis;
}

.play-now {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-now span {
    font-size: 12px;
    padding-right: 4px;
}

.play-now img {
    width: 20px;
}

.seekbar {
    height: 4px;
    width: 90%;
    background-color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 1;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 2;
    transition: left 0.5s;
}